<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form method="POST" action="http://127.0.0.1:5000/home.html">
        <label>Name:</label>
        <input name="name"  type="text"></input>
        <br>
        <br>
        <label >Last name:</label>
        <input name="last_nm" type="text"></input>
        <br>
        <br>
        <label>Age:</label>
        <input name="age" type="number"></input>
        <br>
        <br>
        <hr>
        <button name="submit" type="submit">Submit</button>
        <input name="reset" type="reset"></input>
    </form>
</body>
</html>